<%- include('head')%>
    <div>
        <h1 id="welcome">WELCOME! <%= username %> </h1>
        
        <button onclick="location.href='/logout'">LOG OUT</button>
    </div>
    <script src="../app.js"></script>
<%- include('footer')%>