<%- include('head')%>
    <div>
        <h1 id="welcome">WELCOME! </h1>
        <h3 id="youremailis">Your e-mail is: <%= username %></h3>
        <button onclick="location.href='/'">LOG OUT</button>
    </div>
    <script src="../app.js"></script>
<%- include('footer')%>